html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
}

header {
    background-color: #1e3a5f;
    color: #ffffff;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
}

header::before {
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(#007bff, #1e3a5f);
    top: 0;
}

header::after {
    content: "";
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(#1e3a5f, #007bff);
    bottom: 0;
}


nav {
    text-align: center;
    margin: 20px 0;
}

nav button {
    color: #1e3a5f;
    border: 1px solid #007bff;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: transparent;
}

nav button:hover {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

main article {
    height: 350px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    margin-bottom: 1rem;
}

main button {
    text-align: center;
    margin: 20px 0;
    color: #856404;
    border: 1px solid #ffc107;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: transparent;
}

main button:hover {
    background: linear-gradient(to right, #ffc107, #ff9800); /* oro sfumato */
    color: #fff;
}


.animal-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 100%;
}

.animal-card-text p {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
    max-height: 160px;
}


.animal-card-photo {
    min-width: 300px;
    overflow: hidden;
}

.animal-card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

main article:hover img {
    transform: rotate(1deg) scale(1.4);
}
.bottone {
  display: block;
  padding: 1em;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
}
